* {
    font-family: "Raleway", sans-serif;
}

.addFunction, 
.category{
    border-radius: 25px;
    background-color: #000;
    padding: 3px 10px;
}

.addFunction:hover{
    opacity: 0.7;
    cursor: pointer;
}

.addFunction i,
.addFunction {
    color: #fff;
}

.addFunction a {
    text-decoration: none;
}

table {
    width: 100%;
    padding: 5px;
}

table th {
    font-weight: bolder;
    font-size: larger;
    background-color: darkgray;
    padding: 15px 0;
}

table td {
    font-size: large;
    text-align: center;
    padding: 10px 0;
}

table i:not(.fa-edit,.fa-trash-can):hover {
    opacity: 0.4;
    cursor: pointer;
}

table .fa.fa-minus {
    margin-right: 10px;
}

table .fa.fa-plus {
    margin-left: 10px;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table tr:nth-child(even) {
    background-color: #ddd;
}

/*Add Edit Product*/
.addEditView, #addUserView, #editOrderStatusView {
    background-color: #d3d3d3a0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-items: center;
    display: none;
}

#addUserView {
    position: absolute !important;
}

.addProductView-container, .editOrderStatusView-container {
    background-color: rgb(168, 168, 168);
    margin: 100px auto;
    padding: 10px 20px;
    height: auto;
    max-width: 400px;
    min-width: 400px;
    border-radius: 10px;
}

.addProductView-container h2, .editOrderStatusView-container h2 {
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
}

.addProductView-container input {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
    margin: 5px auto;
    padding-left: 5px;
    width: 100%;
    height: 30px;
}

.addProductView-container input::placeholder {
    color: darkgray;
    font-weight: normal;
}

.addProductView-container label, .addUserView-container label {
    font-weight: bold;
}

.addProductView-container .priceLabel,
.addProductView-container .stockLabel {
    display: block;
}

.addProductView-container .currency,
.addProductView-container .price {
    display: inline-block;
    width: 35px;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
}

.addProductView-container #productPrice,
.addProductView-container #editPrice {
    width: calc(100% - 39px);
    border-radius: 0 5px 5px 0;
}

.addProductView-container .button {
    margin: 20px 0;
}

.addProductView-container #submit,
.addProductView-container #edit {
    height: 40px;
    color: #fff;
    background-color: #000;
}

.addProductView-container #submit:hover,
.addProductView-container i:not(.fa-exclamation-circle):hover {
    opacity: 0.7;
    cursor: pointer;
}

.addProductView-container i:not(.fa-exclamation-circle):hover {
    color: #fff;
}

.addProductView-container::selection(.fa-exclamation-circle){
    text-align: center;
}

.openEdit, .openDelete {
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #999;
}

.openEdit {
    background-color: #46ca4a;
}

.openDelete{
    background-color:rgb(230, 84, 84);
}

.openEdit:hover {background-color: #2da531}

.openDelete:hover{background-color:rgb(204, 23, 23)}

.openEdit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.openDelete:active {
    background-color: rgb(197, 34, 34);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}