* {
    font-family: "Raleway", sans-serif;
}

.addProduct {
    border-radius: 25px;
    background-color: #000;
    padding: 3px 10px;
}

.addProduct:hover {
    opacity: 0.7;
    cursor: pointer;
}

.addProduct i, .addProduct {
    color: #fff;
}

.addProduct a {
    text-decoration: none;
}

table {
    width: 100%;
    padding: 5px;
    background-color: darkgray;
}

table th {
    font-weight: bolder;
    font-size: large;
}

table td {
    font-size: medium;
    text-align: center;
}